{% extends "base.html" %}

{% load static %}

{% block title %}ICB Cluster{% endblock %}


{% block content %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Form Section ======= -->
    <section id="form">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col mx-auto text-center">
            <!-- progressbar -->
            <ul id="progressbar" style="padding-left: 0px;">
              <li class="active" id="terminos">Terminos y condiciones</li>
              <li class="active" id="formulario">Formulario</li>
              <li class="active" id="confirmar">Confirmar</li>
            </ul>
          </div>
        </div>
        <div class="section-title form">
          <h2>Enviar formulario</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="form">
              <form action="" method="POST" class="form-group">
                {% csrf_token %}
                <p>
                  <label><strong>R.U.T:</strong></label>
                    {{ formulario.rut }}
                </p>
                <p>
                  <label><strong>Nombres</strong></label>
                    {{ formulario.nombres }}
                <p>
                  <label><strong>Apellidos:</strong></label>
                    {{ formulario.apellidos }}
                </p>
                <p>
                  <label><strong>Correo alumno:</strong></label>
                    {{ formulario.correo }}
                </p>
                <p>
                  <label><strong>Universidad:</strong></label>
                    {{ universidad }}
                </p>
                <p>
                  <label><strong>Descripción de labor a realizar:</strong></label>
                  <br>
                    <textarea name="" id="" cols="60" rows="5" disabled>{{ formulario.descrip }}</textarea>
                </p>
                <p>
                  <label><strong>Nombre Profesor/a encargado:</strong></label>
                    {{ formulario.nombre_prof }}
                </p>
                <p>
                  <label><strong>Correo Profesor/a encargado:</strong></label>
                    {{ formulario.correo_prof }}
                </p>
            </div>
          </div>
        </div>
        <div class="row text-center justify-content-center">
          <div class="col-4">
            <input type="submit" class="boton_form atras" value="Atras" name="Enviar">
          </div>
          <div class="col-4">
            <input type="submit" class="boton_form" value="Enviar" name="Enviar">
          </div>
        </div>
      </div>
    </section>
    <!-- End Form -->
  </main>

  <!-- End #main -->
{% endblock %}
