{% extends "base.html" %}

{% load static %}

{% block title %}ICB Cluster{% endblock %}


{% block content %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Tu formulario fue enviado!</h1>
          <h2>Este quedará pendiente de revisión con tu profesor/a titular y posteriormente se validará...Permanece atento a tu correo, ya que ahi se te hará saber el estado de la cuenta
          </h2>
          <h2>Revisa otros trabajos realizados con el Cluster de ICB en el apartado de Publicaciones
          </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href='{% url "formulario" %}' class="btn-get-started scrollto">Publicaciones</a>
            <!-- ======= posible video =======
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src='{% static "assets/img/formulario-img_resize.png" %}' class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Form Section ======= -->
  <section id="form">
    <div class="container" data-aos="fade-up">
      <div class="section-title form">
        <h2>{{mensaje}}</h2>
      </div>
    </div>
  </section>
  <!-- End Form -->
</main>

<!-- End #main -->

{% endblock %}