{% extends "base.html" %}

{% load static %}

{% block title %}ICB Cluster{% endblock %}


{% block content %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Form Section ======= -->
    <section id="form">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col mx-auto text-center">
            <!-- progressbar -->
            <ul id="progressbar" style="padding-left: 0px;">
              <li class="active" id="terminos">Terminos y condiciones</li>
              <li class="active" id="formulario">Formulario</li>
              <li id="confirmar">Confirmar</li>
            </ul>
          </div>
        </div>
        <div class="section-title form">
          <h2>Formulario de solicitud</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="form">
              <form action="" method="POST" class="form-group">
                {% csrf_token %}
                <p>
                  R.U.T:                
                  {{ form.rut }}
                </p>
                <p>
                  Nombres:
                  {{ form.nombres }}
                </p>
                <p>
                  Apellidos:
                  {{ form.apellidos }}
                </p>
                <p>
                  Correo alumno:
                  {{ form.correo }}
                </p>
                <p>
                  Universidad:
                  {{ form.universidad }} 
                </p>
                <p>
                  Descripción de labor a realizar:
                  {{ form.descrip }}
                </p>
                <p>
                  Nombre Profesor/a encargado:
                  {{ form.nombre_prof }}   
                </p>
                <p>
                  Correo Profesor/a encargado:
                  {{ form.correo_prof }}
                </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">

        {% if form.errors or error_rut %}
          <div class="col-6 alert alert-danger">
          {% for field in form %}
              {% if field.errors %}
                  {{field.label}}
                  {{field.errors}}
              {% endif %}
          {% endfor %}

          {% if error_rut %}
            {{ error_rut_label }}
            <ul class="errorlist"><li>{{ error_rut }}</li></ul>
          {% endif %}
          </div>
        {% endif %}

        </div>
        <div class="row text-center justify-content-center">
          <div class="col-4">
            <input type="submit" class="boton_form" value="Continuar" name="Enviar">
          </div>
        </div>
      </div>
    </section>
    <!-- End Form -->
  </main>
  <!-- End #main -->
{% endblock %}

