{% extends "base.html" %}

{% load static %}

{% block title %}ICB Cluster{% endblock %}


{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Panel de control de solicitudes</h1>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src='{% static "assets/img/formulario-img_resize.png" %}' class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
<!-- ======= Form Section ======= -->
  <section id="form">
    <div class="container" data-aos="fade-up">
      <div class="section-title form">

        {% if rechazo_exito %}
        <h2>{{ rechazo_exito }}</h2>
      </div>
    </div>
  </section>
</main>
        {% elif aceptacion_exitosa %}
        <h2>{{ aceptacion_exitosa }}</h2>
      </div>
    </div>
  </section>
</main>
        {% else %}
        <h2>Información de solicitud</h2>
      </div>
      {% if aceptacion_fallida %}
      <div class="row justify-content-center">
        <div class="col-6 alert alert-danger">
          {{ aceptacion_fallida }}
        </div>
      </div>
          {% elif rechazo_fallido %}
      <div class="row justify-content-center">
        <div class="col-6 alert alert-danger">
          {{ rechazo_fallido }}
        </div>
      </div>
          {% endif %}
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form">
            <form action="" method="POST" class="form-group">
              <p>
                <label><strong>R.U.T:</strong></label>
                  {{ solicitud.rut }}
              </p>
              <p>
                <label><strong>Nombres</strong></label>
                  {{ solicitud.nombres }}
              <p>
                <label><strong>Apellidos:</strong></label>
                  {{ solicitud.apellidos }}
              </p>
              <p>
                <label><strong>Correo alumno:</strong></label>
                  {{ solicitud.correo }}
              </p>
              <p>
                <label><strong>Universidad:</strong></label>
                  {{ universidad }}
              </p>
              <p>
                <textarea name="" id="" cols="60" rows="5" disabled>{{ solicitud.descrip }}</textarea>
              </p>
              <p>
                <label><strong>Nombre Profesor/a encargado:</strong></label>
                  {{ solicitud.nombre_prof }}
              </p>
              <p>
                <label><strong>Correo Profesor/a encargado:</strong></label>
                  {{ solicitud.correo_prof }}
              </p>
            </form>
          </div>
        </div>
      </div>
      {% if mensaje_rechazada %}
      <div class="row justify-content-center">
        <div class="col-6">
        <h4>Esta solicitud fue rechazada el {{ solicitud.fecha_soli }} por el profesor(a): {{ solicitud.nombre_prof }}</h4>
        </div>
      </div>
    </div>
  </section>
<!-- End Form -->
</main>
<!-- End #main -->
      {% elif mensaje_aceptada %}
      <div class="row justify-content-center">
        <div class="col-6">
        <h4>Esta solicitud fue aceptada el {{ solicitud.fecha_soli }} por el profesor(a): {{ solicitud.nombre_prof }}</h4>
        </div>
      </div>
    </div>
  </section>
<!-- End Form -->
</main>
<!-- End #main -->
      {% else %}
      <div class="row text-center justify-content-center">
        <div class="col-4">
          <input type="button" class="boton_form" value="Rechazar" onclick="infoRechazar()" id="botonInfoRechazar">
        </div>
        <div class="col-4">
          <input type="button" class="boton_form" value="Aceptar" onclick="infoAceptar()" id="botonInfoAceptar">
        </div>
      </div>
      <div class="row justify-content-center" id="formAbajo" style="display: none;">
        <div class="col-6">
          <div class="form">
            <form action="" method="POST" class="form-group">
              {% csrf_token %}
              <p>  
                Mensaje:
                {{ form.msg_profesor}}
              </p>
              <p id="duracion">        
                Duración de la cuenta (en semanas):
                {{ form.duracion }}
              </p>
          </div>
        </div>
      </div>
      <div class="row text-center justify-content-center" id="aceptar" style="display: none;">
        <div class="col-4">
          <input type="button" class="boton_form atras" value="Volver" onclick="infoAceptarVolver()">
        </div>
        <div class="col-4">
          <input type="submit" class="boton_form" value="Aceptar" name="botonProfesor">
        </div>
      </div>
      <div class="row text-center justify-content-center" id="rechazar" style="display: none;">
        <div class="col-4">
          <input type="button" class="boton_form atras" value="Volver" onclick="infoRechazarVolver()">
        </div>
        <div class="col-4">
          <input type="submit" class="boton_form" value="Rechazar" name="botonProfesor">
        </div>
      </div>
    </div>
  </section>
<!-- End Form -->
</main>
<!-- End #main -->
      {% endif %}
      {% endif %}

{% endblock %}


{% block js %}
<script>
function infoAceptar() {
  document.getElementById("botonInfoAceptar").disabled = true;
  document.getElementById("botonInfoRechazar").disabled = true;

  document.getElementById("aceptar").style.display = "flex";
  document.getElementById("formAbajo").style.display = "flex";

  document.getElementById("id_duracion").required = true;
  document.getElementById("duracion").style.display = "flex";
}

function infoAceptarVolver() {
  document.getElementById("aceptar").style.display = "none";
  document.getElementById("formAbajo").style.display = "none";

  document.getElementById("botonInfoAceptar").disabled = false;
  document.getElementById("botonInfoRechazar").disabled = false;
}

function infoRechazar() {
  document.getElementById("rechazar").style.display = "flex";
  document.getElementById("formAbajo").style.display = "flex";

  document.getElementById("botonInfoAceptar").disabled = true;
  document.getElementById("botonInfoRechazar").disabled = true;

  document.getElementById("id_duracion").required = false;
  document.getElementById("duracion").style.display = "none";
}

function infoRechazarVolver() {
  document.getElementById("rechazar").style.display = "none";
  document.getElementById("formAbajo").style.display = "none";

  document.getElementById("botonInfoAceptar").disabled = false;
  document.getElementById("botonInfoRechazar").disabled = false;
}
</script>
{% endblock js %}


