{% extends "base.html" %}

{% load static %}

{% block title %}ICB Cluster{% endblock %}


{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Panel de control de solicitudes para administrador</h1>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src='{% static "assets/img/formulario-img_resize.png" %}' class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<main id="main">
<!-- ======= Form Section ======= -->
  <section id="form">
    <div class="container" data-aos="fade-up">
      <div class="section-title form">
        <h2>Información de solicitud</h2>
      </div>
      {% if mensaje_exito %}
      <div class="row justify-content-center">
        <div class="col-6 alert alert-success">
          {{ mensaje_exito }}
        </div>
      </div>
      {% elif mensaje_fallo %}
      <div class="row justify-content-center">
        <div class="col-6 alert alert-danger">
          {{ mensaje_fallo }}
        </div>
      </div>
      {% endif %}
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form">
            <form action="" method="POST" class="form-group">
              {% csrf_token %}
              <p>
                <label><strong>R.U.T:</strong></label>
                  {{ solicitud.rut }}
              </p>
              <p>
                <label><strong>Nombres</strong></label>
                  {{ solicitud.nombres }}
              <p>
                <label><strong>Apellidos:</strong></label>
                  {{ solicitud.apellidos }}
              </p>
              <p>
                <label><strong>Correo alumno:</strong></label>
                  {{ solicitud.correo }}
              </p>
              <p>
                <label><strong>Universidad:</strong></label>
                  {{ universidad }}
              </p>
              <p>
                <label><strong>Mensaje alumno:</strong></label>
                <textarea name="" id="" cols="60" rows="5" disabled>{{ solicitud.descrip }}</textarea>
              </p>
              <p>
                <label><strong>Nombre Profesor/a encargado:</strong></label>
                  {{ solicitud.nombre_prof }}
              </p>
              <p>
                <label><strong>Correo Profesor/a encargado:</strong></label>
                  {{ solicitud.correo_prof }}
              </p>
              <p>
                <label><strong>Mensaje profesor:</strong></label>
                <textarea name="" id="" cols="60" rows="5" disabled>{{ solicitud.msg_profesor }}</textarea>
              </p>
              <p>
                <label><strong>Estado de solicitud:</strong></label>
                  {{ solicitud.estado }}
              </p>
              <p>
                <label><strong>Fecha de envio de solicitud:</strong></label>
                  {{ solicitud.fecha_soli }}
              </p>
              {% if solicitud.msg_admin %}
              <p>
                <label><strong>Mensaje administrador:</strong></label>
                  <textarea name="" id="" cols="60" rows="5" disabled>{{ solicitud.msg_admin }}</textarea>
              </p>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" id="formAbajo">
        <div class="col-6">
          <div class="form">
            <form action="" method="POST" class="form-group">
              {% csrf_token %}
              {% if solicitud.msg_admin %}
              <p>  
                <strong>Nuevo Mensaje administrador (Asegurese de escribir las credenciales):</strong>
                {{ form.msg_admin }}
              </p>
              {% else %}
              <p>  
                <strong>Mensaje administrador (Asegurese de escribir las credenciales):</strong>
                {{ form.msg_admin }}
              </p>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="row text-center justify-content-center">
        <div class="col-4">
          <input type="submit" class="boton_form" value="Enviar" name="botonAdmin">
        </div>
      </div>
    </div>
  </section>
<!-- End Form -->
</main>
<!-- End #main -->

{% endblock %}