{% extends "base.html" %}

{% load static %}

{% block title %}ICB Cluster{% endblock %}


{% block content %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Solicita tu cuenta para el cluster de ICB</h1>
          <h2>Obten tu cuenta al aceptar y mandar la información que se te pedirá</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <!-- ======= posible video =======
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src='{% static "assets/img/formulario-img_resize.png" %}' class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Form Section ======= -->
    <section id="form">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col mx-auto text-center">
            <!-- progressbar -->
            <ul id="progressbar" style="padding-left: 0px;">
              <li class="active" id="terminos">Terminos y condiciones</li>
              <li id="formulario">Formulario</li>
              <li id="confirmar">Confirmar</li>
            </ul>
          </div>
        </div>
        <div class="section-title form">
          <h2>Terminos y condiciones</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-8">
            <p> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 text-center">
            <div class="form">
              <form action="" method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                {{ mensaje }}
                <input type="submit" class="boton_form" value="Seguir">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Form -->
  </main>

  <!-- End #main -->
{% endblock %}