{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "assets/img/favicon.png" %}' rel="icon">
  <link href='{% static "assets/img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "assets/vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "assets/vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
  <link href='{% static "assets/vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "assets/vendor/remixicon/remixicon.css" %}' rel="stylesheet">
  <link href='{% static "assets/vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "assets/css/style.css" %}' rel="stylesheet">

  <!-- Font-awesome -->
  <link rel="stylesheet" href='{% static "assets/css/font-awesome/css/font-awesome.min.css" %}'>
  
  <!-- =======================================================
  * Template Name: Arsha - v4.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="height: 125px;">
    <div class="container d-flex align-items-center">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href='{% url "home" %}#hero' class="logo me-auto"><img id="imagen" src='{% static "assets/img/logo_icb.png" %}' alt="Ingeniería Civil en Bioinformática" class="img-fluid"></a>
      <nav id="navbar" class="navbar">
        <ul>
          {% if title == "ICB Cluster" %}
            <li><a class="focus-top nav-link scrollto active" href= '{% url "home" %}#hero'>Home</a></li>
          {% else %}
            <li><a class="focus-top nav-link scrollto active" href= '{% url "home" %}'>Home</a></li>
          {% endif %}
          <li><a class="focus-top nav-link scrollto" href='{% url "home" %}#about'>Acerca de nosotros</a></li>
          <li><a class="focus-top nav-link scrollto" href='{% url "home" %}#infra'>Infraestructura</a></li>
          <li class="dropdown"><a href="#"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href='{% url "terminos" %}'>Formulario de solicitud</a></li>
              <li><a href="#">Publicaciones</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="https://icb.utalca.cl/">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block content %}

  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Universidad de Talca</h3>
            <p>
              UNIVERSIDAD DE TALCA | 2 NORTE 685<br>
              Talca 3480094<br>
              Chile <br><br>
              <strong>Telefono:</strong>  (56-71) 200200<br>
              <strong>Correo:</strong> bioinformatica@bioinformatica.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Ingeniería Civil en Bioinformática | Universidad de Talca
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Diseñado por Alumnos, para la escuela</a>
      </div>
    
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src='{% static "assets/vendor/aos/aos.js" %}'></script>
  <script src='{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "assets/vendor/glightbox/js/glightbox.min.js" %}'></script>
  <script src='{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}'></script>
  <script src='{% static "assets/vendor/php-email-form/validate.js" %}'></script>
  <script src='{% static "assets/vendor/swiper/swiper-bundle.min.js" %}'></script>
  <script src='{% static "assets/vendor/waypoints/noframework.waypoints.js" %}'></script>
  
  <!--
  Script para mantener la posicion entre pagina, nome gusta pq se teletranspoprta muy brijido
  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
  </script>
  -->
  <!-- JS files -->
  {% block js %}{% endblock js %}
  <!-- Template Main JS File -->
  <script src='{% static "assets/js/main.js" %}'></script>
</body>

</html>